<template>
    <div>
        <ul class="list-group">
            <li class="list-group-item" v-for="permission,idx in permissions">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                            class="form-check-input"
                            name="permissions[]"
                            :value="permission.id"
                            :checked="formPermissions.includes(permission.id)"
                            :class="{'is-invalid': form.errors.has('permissions')}"
                            @change="handleChange">
                            {{permission.name}}
                    </label>
                </div>
            </li>
        </ul>
        <span class="invalid-feedback" v-show="form.errors.has('permissions')">
            {{ form.errors.get('permissions') }}
        </span>
    </div>
</template>

<script>
export default {
    props: ['permissions', 'form'],
    computed: {
        formPermissions() {
            return this.form.permissions.map(p => p instanceof Object ? p.id : p);
        }
    },
    methods: {
        handleChange(item) {
            this.$emit('update:permissions', item);
        }
    }
}
</script>
