
<template>
    <div>
        <ul class="list-group">
            <li class="list-group-item" v-for="role,idx in roles">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox"
                            class="form-check-input"
                            name="roles[]"
                            :value="role.id"
                            :checked="formRoles.includes(role.id)"
                            :class="{'is-invalid': form.errors.has('roles')}"
                            @change="handleChange">
                            {{role.name}}
                    </label>
                </div>
            </li>
        </ul>
        <span class="invalid-feedback" v-show="form.errors.has('roles')">
            {{ form.errors.get('roles') }}
        </span>
    </div>
</template>
<script>
export default {
    props: ['roles', 'form'],
    computed: {
        formRoles() {
            return this.form.roles.map(p => p instanceof Object ? p.id : p);
        }
    },
    methods: {
        handleChange(item) {
            this.$emit('update:roles', item);
        }
    }
}
</script>
